:root {
  --main-color: #f8f8f8;
  --accent-main-color: #ececec;
  --background: #f0f0f0;
  --bacground-shadow: #585858;
  --header-color: #49aceb;
}

.header {
  background-color: var(--header-color);
  display: flex;
  position: sticky;
  align-self: flex-start;
  justify-content: space-between;
  top: 0;
  height: 300px;
  padding: 0;
  height: 75px;
  z-index: 100;
}
.header-img {
  display: flex;
  padding-left: 16px;
  align-content: center;
}
.header-img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.main-img {
  height: 500px;
  display: flex;
  position: absolute;
}

.big-img {
  width: 100%;
  object-fit: cover;
}

body {
  color: #2b2d31;
  font-family: sans-serif;
  font: Verdana, Arial;
  font-weight: 500;
  font-size: medium;
  border: none;
  margin: 0px;
  background-color: var(--background);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conts {
  position: relative;
  display: flex;
  bottom: 150px;
  top: 425px;
  left: 0;
  right: 0;
}

.form-element {
  margin-left: 30px;
  margin-top: 10px;
  border: none;
  padding: 10px 20px;
}

.form {
  box-shadow: 0px 0px 37px 4px rgba(124, 124, 124, 0.75) inset;
  font-size: medium;
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: var(--accent-main-color);
  align-items: center;
  justify-content: start;
  padding-bottom: 30px;
}

.form-container {
  color: #2b2d31;
  flex-direction: column;
  display: flex;
  position: sticky;
  width: 40%;
  min-width: 150px;
  top: 80px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: var(--header-color);
  border: none;
  cursor: pointer;
}

.grades {
  background-color: var(--main-color);
  width: 60%;
  overflow: hidden;
}
.grade-box {
  box-shadow: 0px 0px 37px 4px rgba(69, 69, 69, 0.75);
  padding: 5px 20px;
  margin: 15px 0px;
  width: 90%;
  background-color: var(--background);
}

.grade-box:hover {
  padding: 5px 50px;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  transform: scale(1.075);
  box-shadow: none;
}

.footer {
  position: fixed;
  z-index: 1000;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: var(--header-color);
  color: white;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .conts {
    flex-direction: column-reverse;
  }
  .grades {
    width: 100%;
  }
  body {
    background-color: var(--main-color);
  }
  .form {
    width: 100%;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

.page-container {
  position: relative;
}

#root {
  position: relative;
}

.menu-items-container {
  display: flex;
  padding-right: 20px;
}

.menu-item {
  cursor: pointer;
  display: flex;
  left: 0px;
  align-content: center;
  padding-left: 30px;
  font-size: 1.4rem;
}

.menu-item :hover {
  transition: all 0.2s ease-in-out;
  font-size: 1.45rem;
}
